<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_I服务1" />
                <binding name="CustomBinding_I服务1">
                    <security mode="None" />
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8000/%E6%9C%8D%E5%8A%A11"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_I服务1"
                contract="客户端五福.I服务1" name="WSHttpBinding_I服务1">
                <identity>
                    <userPrincipalName value="WIN-V1K6JQJ6FH9\Administrator" />
                </identity>
            </endpoint>
            <!--<endpoint address="http://localhost:8000/" binding="wsHttpBinding"
                bindingConfiguration="CustomBinding_I服务1" contract="客户端五福.I服务1"
                name="CustomBinding_I服务1" />-->
        </client>
    </system.serviceModel>
</configuration>