<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IServiceBasicHttp"
                 maxReceivedMessageSize="838860800">
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Windows" />
          </security>
        </binding>
        <binding name="CustomBinding_IServiceSoap11"
                 maxReceivedMessageSize="838860800">
          <security mode="Transport" />
        </binding>
      </basicHttpBinding>
      <customBinding>
        <binding name="CustomBinding_IServiceSoapMsBin1">
          <binaryMessageEncoding />
          <httpTransport maxReceivedMessageSize="838860800" />
        </binding>
      </customBinding>
      <netTcpBinding>
        <binding name="NetTcpBinding_IServiceNetTcp"
                 maxReceivedMessageSize="838860800">
          <reliableSession enabled="true" />
        </binding>
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="http://172.30.10.123:8083/ServiceBasicHttp.svc"
                binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IServiceBasicHttp"
                contract="ServiceReferenceBasicHttp.IServiceBasicHttp"
                name="BasicHttpBinding_IServiceBasicHttp" />
      <endpoint address="net.tcp://172.30.10.123:8083/ServiceNetTcp.svc"
                binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IServiceNetTcp"
                contract="ServiceReferenceNetTcp.IServiceNetTcp"
                name="NetTcpBinding_IServiceNetTcp">
        <identity>
          <servicePrincipalName value="host/172.30.10.123:8083" />
        </identity>
      </endpoint>
      <endpoint address="https://172.30.10.123:8083/ServiceSoap11.svc"
                binding="basicHttpBinding"
                bindingConfiguration="CustomBinding_IServiceSoap11"
                contract="ServiceReferenceSoap11.IServiceSoap11"
                name="CustomBinding_IServiceSoap11" />
      <endpoint address="http://172.30.10.123:8083/ServiceSoapMsBin1.svc"
                binding="customBinding"
                bindingConfiguration="CustomBinding_IServiceSoapMsBin1"
                contract="ServiceReferenceSoapMsBin1.IServiceSoapMsBin1"
                name="CustomBinding_IServiceSoapMsBin1" />
    </client>
  </system.serviceModel>
</configuration>